<span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{legislator.first_name}} {{legislator.last_name}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
{{legislator.state_name}} - U.S. {{capitalize legislator.chamber}}
  <ul>
    <li>Contact: <a href={{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{#if legislator.youtube_id}}
    <li>
      YouTube Channel: <a href="https://www.youtube.com/user/{{legislator.youtube_id}}">{{legislator.youtube_id}}</a>
    </li>
    {{else}}
  {{/if}}
  </ul>
  {{#link-to 'bills' legislator.bioguide_id}}See the bills {{legislator.first_name}} {{legislator.last_name}} has sponsored{{/link-to}}
